body {

    background-color: bisque;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    height:2rem;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
     margin-top: 0,5rem;
}

